<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Login Page</title>
</head>
<body>
  
  <form method="POST" action="/login">
    <h3>Login</h3>
    <label>Username:</label>
    <input type="text" name="brukernavn" required><br>
    <label>Password:</label>
    <input type="password" name="passord" required><br>
    <button type="submit">Login</button>
  </form>
</body>
</html>
