<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<form method="POST" action="/signup">		
		<h3>Sign Up</h3>

		<label>Username:</label>
		<input type="text" name="brukernavn"><br>

		<label>Email:</label>
		<input type="email" name="email"><br>

		<label>Password:</label>
		<input type="password" name="passord"><br>

		<label>Biografi:</label>
		<textarea name="biografi"></textarea><br>

		<button type="submit">Sign Up</button>
	</form>
</body>
</html>
